/*
//--------------------------------------------------------------------
// Constants
//--------------------------------------------------------------------
*/

:root {
    --custom-main-color: #626262;
    --bg-color-fo: #bdbdbd;
    --bg-color-bo: #626262;

    --color-accent: #b6232c;
    --color-accent-20: rgba(182, 35, 44, 0.2);
    --color-accent-darker: #571115;
    --color-accent-darker-50: rgba(87, 17, 21, 0.5);
    --color-accent-darker-20: rgba(87, 17, 21, 0.2);
    --color-alert: #f25c75;
    --color-alert-20: rgba(242, 92, 117, 0.2);
    --color-alert-darker: #9e3b4c;
    --color-positive: #8eab4b;
    --color-positive-darker: #667b34;
    --color-positive-20: rgba(194, 234, 98, 0.2);

    /*  ----------------- DATATABLES RELATED COLORS -----------------  */

    --color-dt-th: #444444;
    --color-dt-th-text: white;

    --color-datatables-odd: rgba(164, 130, 166, 0.15);
    --color-datatables-even: rgba(164, 130, 166, 0.05);

    /*  ----------------- BACKGROUND COLORS -----------------  */

    --bg-edit : #ffc107;
    --bg-new  : green;
    --bg-delete: red;
    --bg-disabled: orange;
    --bg-enabled: mediumseagreen;

    --bg-notAvailable: gray;

    --bg-datatab-bg-odd: lightgray;
    --bg-datatab-bg-even:white;

    /*  ----------------- BOOTSTRAP COLORS -----------------  */

    --bs-color-primary: #007bff;
    --bs-color-secondary: #6c757d;
    --bs-color-success: #28a745;
    --bs-color-info: #17a2b8;
    --bs-color-warning: #ffc107;
    --bs-color-danger: #dc3545;
    --bs-color-light: #f8f9fa;
    --bs-color-dark: #343a40;
}

.bg-accent {
    background-color: var(--color-accent);
}

.bg-accent-20 {
    background-color: var(--color-accent-20);
}

.bg-accent-darker {
    background-color: var(--color-accent-darker);
}

.bg-positive {
    background-color: var(--color-positive);
}

.bg-alert {
    background-color: var(--color-alert);
}

.bg-positive-20 {
    background-color: var(--color-positive-20);
}

.bg-alert-20 {
    background-color: var(--color-alert-20);
}

.file-received-status {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

body{
    --scrollbar-width: calc(100vw - 100%);

    font-family: Roboto, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 16px;
    font-weight: initial;
}

h1 {
    font-size: 36px;
    font-weight: initial;
}

a {
    font-weight: initial;
}

.form-tabs .nav-link{
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-accent-darker);
}

input {
    font-weight: bold !important;
    color: var(--color-accent-darker) !important;
    font-size: 16px !important;
}

.bg-custom{
    background-color: var(--custom-main-color);
    color:white;
}

.btn-custom{
    background-color: var(--custom-main-color);
    color:white;
}

.btn-edit{
    background-color: var(--bg-edit);
    color:white;
}

.btn-add{
    background-color: var(--bg-new);
    color:white;
}

.btn-delete{
    background-color: var(--bg-delete);
    color:white;
}

.btn-disabled{
    background-color: var(--bg-disabled);
    color:white;
}

.btn-enabled{
    background-color: var(--bg-enabled);
    color:white;
}

.btn-accent, .btn-outline-accent, .btn-outline-accent-darker, .btn-outline-accent-darker-white{
    font-weight: bold;
    border-radius: 10px;
    padding: 12px 15px;
    line-height: 15px;
    font-size: 16px;
    height: fit-content;
}

.btn-accent{
    background-color: var(--color-accent);
    color: white;
}

.btn-accent img, .btn-accent i, .btn-outline-accent img, .btn-outline-accent i{
    padding-right: 20px;
}

.btn-outline-accent:hover img, .btn-outline-accent:hover i{
    filter: brightness(0) invert(1);
}

.btn-outline-accent-darker:hover img, .btn-outline-accent-darker:hover i, .btn-outline-accent-darker-white:hover img, .btn-outline-accent-darker-white:hover i{
    filter: brightness(0) invert(1);
}

.btn-accent:hover{
    background-color: var(--color-accent-darker);
    color: white;
}

.btn-outline-accent, .btn-outline-accent-sm {
    background: none;
    border: 2px solid var(--color-accent) !important;
    color: var(--color-accent) !important;
}

.btn-outline-accent-darker{
    background: none;
    border: 2px solid var(--color-accent-darker) !important;
    color: var(--color-accent-darker) !important;
}

.btn-outline-accent-darker-white{
    background: none;
    border: 2px solid var(--color-accent-darker) !important;
    color: white !important;
}

.btn-outline-accent:hover {
    background-color: var(--color-accent) !important;
    line-height: 16px;
    border: 2px solid var(--color-accent) !important;
    color: white !important;
}

.custom-select {
    padding: 0px 26px 0px 10px;
}

.page-item.active .page-link {
    border-color: var(--color-accent);
    background: var(--color-accent);
}

.page-link {
    color: var(--color-accent-darker);
}

.page-link:hover {
    color: var(--color-accent);
}

.btn-outline-accent-sm:hover {
    background-color: var(--color-accent) !important;
    border: 2px solid var(--color-accent) !important;
    color: white !important;
}

.btn-outline-accent-darker-white:hover, .btn-outline-accent-darker:hover{
    background-color: var(--color-accent-darker) !important;
    line-height: 20px;
    color: white !important;
}

.btn-notAvailable{
    background-color: var(--bg-notAvailable);
    color:white;
}

.form-control {
    border-radius: 0;
    border-color: var(--color-accent-darker);
}

.form-control::placeholder {
    opacity: 0.5;
}

select.form-control{
    border-color: var(--color-accent) !important;
    color: var(--color-accent) !important;
    font-weight: bold !important;
}

.modal-body {
    padding: 20px !important;
}

.alert-block-error, .alert-block-success {
    width: 100%;
    margin-bottom: 40px;
    padding: 20px;
    align-items: center;
    display: inline-flex;
}

.alert-block-error img, .alert-block-success img {
    margin-right: 20px;
}

.alert-block-error {
    background-color: var(--color-alert-20);
}

.alert-block-error span{
    color: var(--color-alert-darker);
    font-weight: initial;
    font-style: italic;
}

.alert-block-success span{
    color: var(--color-positive-darker);
    font-weight: initial;
    font-style: italic;
}

.alert-block-success {
    background-color: var(--color-positive-20);
}

.nav-link{
    color: white !important;
}

.form-tabs .nav-link{
    color: var(--color-accent) !important;
}

.form-tabs .active{
    color: var(--color-accent-darker) !important;
}

.active
{
    color:var(--bs-color-secondary) !important;
}

table.dataTable tbody td {
    vertical-align: middle;
}

.dt-file-status-td {
    text-align: center;
}

.dt-file-status-td span {
    width: 60px;
    padding: 20px;
}

.clickable{
    cursor: pointer;
}

.rf-nav-item{
    display: block;
    padding: .5rem .5rem;
}

.noHover{
    pointer-events: none !important;
}

.form-2nd-page, .form-3rd-page, .form-4th-page, .form-5th-page{
    display: none;
}

.col-form-label, label{
    color: var(--color-accent-darker);
    font-weight: bold;
}

.text-accent{
    color: var(--color-accent);
}

.text-accent-darker{
    color: var(--color-accent-darker);
}

.text-success {
    color: var(--color-positive) !important;
}

.vertical-divider {
    overflow: hidden;
}

hr{
    border-color: var(--color-accent);
}

.pt-40 {
    padding-top: 40px !important;
}

.pt-80 {
    padding-top: 80px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.pb-80 {
    padding-bottom: 80px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.tail-select{
    width: 100% !important;
}

.tail-select .select-dropdown ul li.dropdown-option:hover{
    background-color: var(--color-accent-darker-20);
    color: var(--color-accent-darker);
}

.tail-select .select-dropdown {
    position: absolute !important;
}

.tail-select .select-dropdown ul li.optgroup-title {
    background-color: var(--color-accent-darker-50) !important;
}

.tail-select .select-dropdown ul li.optgroup-title b {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.form-control{
    font-size: 16px !important;
}

.select-label {
    width: 100% !important;
    font-weight: bold !important;
    color: var(--color-accent) !important;
    font-size: 16px !important;
    border-radius: 0 !important;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.loading-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('../img/ajax-loader.gif')
    50% 50%
    no-repeat;
}

.task-done {
    background: var(--color-positive-20) !important;
    text-decoration: line-through;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .loading-modal {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loading-modal {
    display: block;
}

.dropdown-option {
    color: var(--color-accent) !important;
}

.dropdown-option.selected {
    color: var(--color-accent-darker) !important;
    font-weight: bold !important;
}

.vertical-divider > div[class^="col-"] {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    margin-bottom: -100px;
    border-left: 1px solid var(--color-accent);
}

.vertical-divider div[class^="col-"]:first-child {
    border-left: none;
    padding-left: 0;
    padding-right: 40px;
}

.vertical-divider div[class^="col-"]:last-child {
    border-right: none;
    padding-right: 0;
    padding-left: 40px;
}

.vertical-divider.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
}

.vertical-divider .row{
    margin-right: 0 !important;
}

.col-cb{
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

.col-cb div:first-child{
    padding-right: 40px;
}

.col-cb input{
    margin-right: 20px !important;
}

.form-check-label{
    color: var(--color-accent-darker);
    font-weight: bold;
}

.form-tabs > li:not(:first-child) {
    border-left: 2px solid var(--color-accent-darker);
}

.form-tabs > li > .nav-link:hover {
    color: var(--color-accent-darker) !important;
    text-decoration: underline !important;
}

.form-tabs > li > .nav-link {
    font-size: 20px !important;
}

.page-header{
    background-color: var(--color-accent);
    color: white;
    padding: 40px 40px 0 40px;
    flex-wrap: wrap;
    display: flex;
}

.page-header h1 {
    padding-bottom: 40px;
}
.page-header div:first-child {
    padding-left: 0 !important;
}

.page-header .nav-link {
    font-size: 20px;
    padding: 20px;
    border-radius: 15px 15px 0 0;
}

.page-header .nav-link.active {
    color: var(--color-accent-darker) !important;
}

.returnLink {
    font-weight: bold;
    color: white;
}
.returnLink:hover {
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

.page-content{
    padding: 40px;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* DATATABLES */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

th {
    padding-left: 20px !important;
    background-color: var(--color-dt-th);
    color: var(--color-dt-th-text);
}

div.dataTables_wrapper div.dataTables_filter input {
    border-radius: 5px;
    padding-left: 40px;
    background-image: url('../img/icons/search.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 10px;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.dt-actions{
    text-align: center;
    font-size: 16px;
    color: var(--color-accent);
}

.dt-actions i:not(:last-child) {
    padding-right: 10px;
}

/*.sorting_asc {*/
/*    background-image: url("../img/icons/Asc.png") !important;*/
/*    background-size: 10px;*/
/*    background-repeat: no-repeat;*/
/*    background-position: left;*/
/*    background-position-y: 13px;*/

/*}*/

/*.sorting_desc {*/
/*    background-image: url("../img/icons/Desc.png") !important;*/
/*    background-size: 10px;*/
/*    background-repeat: no-repeat;*/
/*    background-position: left;*/
/*    background-position-y: 13px;*/

/*}*/

/*.sorting {*/
/*    background-image: url("../img/icons/Disabled.png") !important;*/
/*    background-size: 10px;*/
/*    background-repeat: no-repeat;*/
/*    background-position: left;*/
/*    background-position-y: 13px;*/

/*}*/

/*.sorting_asc_disabled {*/
/*    background-image: url("../img/icons/Disabled.png") !important;*/
/*    background-size: 10px;*/
/*    background-repeat: no-repeat;*/
/*    background-position: left;*/
/*    background-position-y: 13px;*/

/*}*/

/*.sorting_desc_disabled {*/
/*    background-image: url("../img/icons/Disabled.png") !important;*/
/*    background-size: 10px;*/
/*    background-repeat: no-repeat;*/
/*    background-position: left;*/
/*    background-position-y: 13px;*/

/*}*/

/*.sorting_desc_disabled:before, .sorting:before, .sorting_asc:before, .sorting_asc_disabled:before, .sorting_desc:before, .sorting_desc_disabled:after, .sorting:after, .sorting_asc:after, .sorting_asc_disabled:after, .sorting_desc:after {*/
/*    opacity: 0 !important;*/
/*}*/

.table td, .table th {
    border-top: none !important;
}

.table thead th {
    border-bottom: none !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--color-datatables-odd);
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: var(--color-datatables-even);
}

tbody tr {
    height: 60px;
    font-size: 14px;
    font-weight: initial;
    color: var(--color-accent-darker);
}

td > .rf-action-button:not(:last-child) {
    margin-right: 20px;
}

.rf-actions-td {
    width: 170px;
    padding-right: 0 !important;
}

.rf-filters {
    width: 100%;
    margin-bottom: 40px;
    background-color: var(--color-accent-20);
    padding: 40px;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* FOOTER */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

.rf-footer {
    height: 50px;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    margin: 0;
    color: var(--color-accent) !important;
    background-color: var(--color-accent-darker);
    display: flex;
}

.rf-footer > div {
    align-self: center;
}

.footer-env {
    text-transform: uppercase;
    left: 50%;
    position: absolute;
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    .footer-env {
        position: initial;
        left: initial;
    }
}

.footer-home-link {
    margin-right: auto;
}

.footer-home-link a {
    text-decoration: none;
    color: var(--color-accent);
}

.footer-home-link a:hover {
    text-decoration: none;
    color: var(--color-accent);
}

.footer-useful-links {
    margin-left: auto;
    text-align: right;
    align-self: center;
}

.footer-useful-links a{
    vertical-align: middle;
    color: var(--color-accent);
}

.footer-useful-links > a{
    margin-left: 20px;
}

.footer-social-networks {
    text-align: right;
    align-self: center;
    margin-left: 40px;
}

.footer-social-networks a:not(:first-child) {
    margin-left: 20px;
}

.footer-social-networks a {
    font-size: 20px;
}

.footer-social-networks a:hover {
    color: var(--color-accent);
    text-decoration: none;
}

.footer-bug-report {
    font-size: 20px;
}

.footer-bug-report a {
    color: white;
}

.footer-bug-report a:hover {
    color: var(--color-accent);
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* MENU */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

.rf-menu {
    z-index: 3;
    float: left;
    height: calc(100vh - 100px);
    position: absolute;
}

.rf-menu-item-div {
    height: 80px;
    background-color: var(--color-accent-darker);
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
    display: flex;
    box-shadow: 8px 8px 8px -8px rgba(0, 0, 0, 0.16);
    position: relative;
    z-index: 2;
}

.rf-menu .fa-chevron-right:before,
.rf-menu .fa-chevron-left:before
{
    vertical-align: -webkit-baseline-middle;
}

.rf-menu-item:hover > div {
    background-color: var(--color-accent);
}

.rf-menu-item:hover {
    color: white;
    text-decoration: none;
}

.rf-menu-item {
    color: white;
}

.rf-menu-item-logo {
    width: 40px;
    height: 41px;
    align-self: center;
    font-size: 24px;
    text-align: center;
}

.rf-menu-item-logo i {
    font-size: 40px !important;
    margin-left: -10px;
}

.rf-menu-item-title {
    margin-left: 0;
    width: 0;
    font-size: 16px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    align-self: center;
    color: white;
    transition: width 0.5s, margin-left 0.5s;
    overflow: hidden;
}

.rf-menu-no-animation .rf-menu-item-title {
    transition: none !important;
}

.rf-menu-item-title span {
    width: 220px;
    display: block;
}

.rf-menu-item-active {
    background-color: var(--color-accent);
}

.rf-menu-expanded .rf-menu-item-title {
    width: 220px;
    transition: width 0.5s, margin-left 0.5s;
    margin-left: 20px;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

#toast-container{
    z-index: 100 !important;
}

.toast {
    border-radius: 10px;
}

.toast-header {
    background-color: var(--color-accent-20);
    font-size: 18px;
    color: var(--color-accent-darker);
    padding: 10px;
}

.toast-header img {
    height: 30px;
    width: 30px;
}

.toast-header strong {
}

.toast-body{
    font-size: 16px;
    font-weight: initial;
}

.toast-error {
    background-color: var(--color-alert-20);
    color: var(--color-alert);
}

.toast-ok {
    background-color: var(--color-positive-20);
    color: var(--color-positive);
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* LOGIN */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

.login-title {
    margin-top: 80px; /* TODO : Temporary, will be transferred to the logo */
    margin-bottom: 20px;
    align-items: center;
    padding: 0 20px;
}

.login-title img {
    fill: green;
    height: 80px;
    margin-right: 40px;
}

.login-title span {
    color: var(--color-accent);
    font-size: 36px;
    font-weight: initial;
}

.login-alert {
    width: 100%;
    min-height: 80px;
    background-color: var(--color-alert-20);
    margin-bottom: 40px;
    padding: 20px;
    align-items: center;
    display: flex;
}

.login-alert-ok {
    width: 100%;
    min-height: 80px;
    background-color: var(--color-positive-20);
    margin-bottom: 40px;
    padding: 20px;
    align-items: center;
    display: flex;
}

.login-alert .col:first-child, .login-alert-ok .col:first-child {
    width: 40px;
    max-width: 40px;
    min-width: 40px;
    margin: 0 20px 0 0;
    padding: 0;
}

.login-alert .col:last-child, .login-alert-ok .col:last-child {
    padding: 0;
}

.login-alert span, .login-alert div:last-child, .login-alert-ok span{
    font-weight: initial;
    font-style: italic;
    color: var(--color-accent-darker);
}

.separator{
    margin-bottom: 40px;
}

.login-buttons {
    margin-top: 40px;
    padding: 0 15px 0 15px;
    align-items: center;
}

.login-buttons a {
    color: var(--color-accent);
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    margin-right: 40px;
    opacity: 50%;
}

.login-buttons a:hover {
    color: var(--color-accent-darker);
    opacity: 100%;
}

.forgotten-pwd-button {
    margin-top: 20px;
    padding: 0 15px 0 15px;
}

.forgotten-pwd-button a{
    color: var(--color-accent);
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    opacity: 50%;
}

.not-registered-btn {
    opacity: 100% !important;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* CONTAINERS */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

.main-container{
    z-index: 1;
    min-height: calc(100vh - 100px);
    width: 100%;
    display: flex;
}

.rf-container{
    display: table;
    z-index: 1;
    width: 100%;
    margin-left: 80px;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* HOMEPAGE */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

.hp-logo{
    height: 200px;
}

.hp-content .row, .hp-content .col-12, .hp-content .col-6
{
    padding: 0;
    margin: 0;
}

.hp-subtitle {
    font-size: 36px;
    font-style: italic;
    color: var(--color-accent);
    font-weight: initial;
}

.hp-client-wrapper {
    background-color: var(--color-accent);
}

.hp-photographer-wrapper {
    background-color: var(--color-accent-darker);
}

.hp-client-wrapper, .hp-photographer-wrapper {
    padding: 40px 40px 80px 40px;
}

.hp-title-client, .hp-title-photographer {
    padding: 40px 40px 80px 40px;
    color: white;
    font-style: italic;
    font-weight: initial;
    font-size: 36px;
    width: 100%;
}

.hp-title-client span, .hp-title-photographer span{
    padding-left: 40px;
}

.hp-title-client hr{
    border-color: var(--color-accent-darker);
}

.hp-title-photographer hr{
    border-color: var(--color-accent);
}

.hp-buttons {
    padding-bottom: 80px;
    width: 100%;
    text-align: center;
}

.hp-button-connect-client, .hp-button-register-client , .hp-button-connect-photographer, .hp-button-register-photographer {
    font-weight: bold;
    border-radius: 27px;
    padding: 15px 20px;
    line-height: 20px;
    font-size: 16px;
    height: 53px;
    color: white !important;
}

.hp-button-connect-client {
    border: solid 2px var(--color-accent-darker);
    background-color: var(--color-accent);
    color: white;
    margin-right: 40px;
}

.hp-button-connect-client:hover {
    background-color: var(--color-accent-darker);
}

.hp-button-register-client {
    border: solid 2px white;
    background-color: var(--color-accent);
    color: white;
    padding: 15px 40px 15px 40px;
}

.hp-button-register-client:hover {
    background-color: var(--color-accent-darker);
}

.hp-button-connect-photographer {
    border: solid 2px var(--color-accent);
    background-color: var(--color-accent-darker);
    color: white;
    margin-right: 40px;
}

.hp-button-connect-photographer:hover {
    background-color: var(--color-accent);
}

.hp-button-register-photographer {
    border: solid 2px white;
    background-color: var(--color-accent-darker);
    color: white;
    padding: 15px 40px 15px 40px;
}

.hp-button-register-photographer:hover {
    background-color: var(--color-accent);
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* GLOBAL HEADER */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

.global-header-wrapper, .global-header-wrapper-no-shadow {
    width: 100%;
    display: flex;
    background: var(--color-accent-darker);
    height: 50px;
    padding: 10px !important;
    position: relative;
    z-index: 3;
    color: white;
}

.global-header-wrapper {
    box-shadow: 0 12px 6px -6px rgb(0 0 0 / 26%);
}

.header-project-name {
    margin-right: auto;
}

.header-page-title {
    left: 50%;
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    .header-page-title {
        position: initial;
        left: initial;
    }
}

.header-user-controls {
    display: flex;
    margin-left: auto;
}

.header-username-container {
    display: block;
    margin-right: 10px;
}

.header-username {
    align-self: center;
    font-weight: bold;
    font-size: 14px;
}

.header-role {
    font-size: 12px;
    color: var(--color-accent);
    margin-top: -5px;
    text-align: right;
}

.header-user-profile-picture {
    align-self: center;
}

.header-user-profile-picture img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.global-header-wrapper .dropdown-menu {
    margin-top: 9px !important;
}

.global-header-wrapper .dropdown-item:hover {
    background-color: var(--color-accent);
    color: white;
}

.global-header-wrapper .dropdown-item i {
    margin-right: 10px;
}

.global-header-wrapper .dropdown-item:focus,
.global-header-wrapper .dropdown-item:active
{
    background-color: var(--color-accent-darker);
    color: white;
}

.notification-badge {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: var(--color-accent-darker);
    border: 2px var(--color-accent-darker) solid;
}

.notification-badge:hover {
    text-decoration: none;
    background: var(--color-accent-darker);
    color: white;
}

.notification-badge-alert {
    background: var(--color-alert);
    color: white;
    border: 2px var(--color-alert) solid;
}

.notification-badge-alert:hover {
    text-decoration: none;
    background: var(--color-alert-darker);
    border: 2px var(--color-alert-darker) solid;
    color: white;
}

.page-header-title {
    font-size: 36px;
    color: var(--color-accent-darker);
    margin-left: 20px;
    font-weight: initial;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* FORM STEPS */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

.progress-container {
    text-align: center;
    align-items: center;
    align-content: center;
    display: inline-flex;
    padding-top: 41px;
}
.progressbar {
    counter-reset: step;
    width: 1000px;
    display: flex;
    justify-content: center;
}
.progressbar li {
    list-style-type: none;
    /* width: 32%; */
    float: left;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    text-align: center;
    color: var(--color-accent-darker-50);
}

.progressbar li .active {
    color: var(--color-accent);
}

.progressbar li:before {
    width: 30px;
    height: 30px;
    content: " ";
    line-height: 30px;
    border: 2px solid var(--color-accent-darker-50);
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: transparent;
    border: dashed 2px var(--color-accent);
    opacity: 50%;
    top: 13px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: var(--color-accent);
    opacity: 100%;
}
.progressbar li.active:after {
    color: var(--color-accent);
    opacity: 100% !important;
    border-style: solid !important;
}
.progressbar li.active:before {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
}
.progressbar li.active + li:after {
    background-color: transparent;
    border: dashed 2px var(--color-accent);
    opacity: 50%;
}

.progressbar li span {
    top: -85px;
    position: relative;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* WORKFLOW STEPS */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

.progress-container-wf {
    text-align: center;
    align-items: center;
    align-content: center;
    display: inline-flex;
    padding-top: 41px;
    width: 100%;
}
.progressbar-wf {
    counter-reset: step;
}
.progressbar-wf li {
    list-style-type: none;
    width: 200px;
    float: left;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    text-align: center;
    color: var(--color-accent-darker-50);
    padding-bottom: 40px;
}

.progressbar-wf li .active {
    color: var(--color-accent);
}

.progressbar-wf li:before {
    width: 20px;
    height: 20px;
    content: " ";
    line-height: 20px;
    border: 2px solid var(--color-accent-darker-50);
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar-wf li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: transparent;
    border: dashed 2px var(--color-accent);
    opacity: 50%;
    top: 8px;
    left: -50%;
    z-index: -1;
}
.progressbar-wf li:first-child:after {
    content: none;
}
.progressbar-wf li.active {
    color: var(--color-accent);
    opacity: 100%;
}
.progressbar-wf li.active:after {
    color: var(--color-accent);
    opacity: 100% !important;
    border-style: solid !important;
}
.progressbar-wf li.active:before {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
}
.progressbar-wf li.active + li:after {
    background-color: transparent;
    border: dashed 2px var(--color-accent);
    opacity: 50%;
}

.progressbar-wf li span {
    top: -85px;
    position: relative;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* PHOTOGRAPHER REGISTER FORM */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

.p-register-form-title {
    font-size: 36px;
    color: var(--color-accent);
    font-weight: initial;
}

.p-register-form-content .col-6:first-child {
    padding-left: 100px !important;
}

.p-register-form-content .col-6:last-child {
    padding-right: 100px !important;
}

.password-checks {
    padding-top: 20px;
    /*font-weight: 16px;*/
    color: var(--color-accent-darker);
}

.password-checks li {
    padding-top: 20px;
}

.password-checks ul {
    padding-bottom: 20px;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* INPUTS */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

.is-invalid{
    border-color: var(--color-alert) !important;
}

.invalid-feedback{
    display: block;
}

.valid-feedback.feedback-icon,
.invalid-feedback.feedback-icon {
    position: absolute;
    width: auto;
    bottom: 28px;
    right: 15px;
    margin-top: 0;
    font-size: 16px;
    color: var(--color-alert);
}

.valid-feedback.feedback-icon-no-text,
.invalid-feedback.feedback-icon-no-text {
    position: absolute;
    width: auto;
    bottom: 5px;
    right: 25px;
    margin-top: 0;
    font-size: 16px;
    color: var(--color-alert);
}

.email-content-writer{
    font-weight: initial !important;
    font-style: initial !important;
}

.trumbowyg-button-pane {
    background-color: var(--color-accent);
}

.trumbowyg-box svg, .trumbowyg-modal svg {
    fill: white;
}

.trumbowyg-button-group button:hover svg {
    fill: white;
}

.trumbowyg-button-pane button {
    color: white;
}

.trumbowyg-button-pane button.trumbowyg-active, .trumbowyg-button-pane button:not(.trumbowyg-disable):focus, .trumbowyg-button-pane button:not(.trumbowyg-disable):hover {
    background-color: var(--color-accent-darker);
    color: white;
    fill: white;
}

.trumbowyg-editor table td {
    border : solid 1px var(--color-accent-darker);
    border-top: solid 1px var(--color-accent-darker) !important;
}

.popover {
    background: var(--color-positive);
    font-weight: bold;
}

.arrow:after {
    border-color: var(--color-positive);
}

.rf-toolbar {
    display: inline-flex;
    margin-bottom: 40px;
    width: 100%;
}

.rf-toolbar span {
    align-self: center;
}

.rf-toolbar span:not(:first-child) {
    text-align: right;
    width: 100%;
}

.toolbar-margin-right {
    margin-right: 40px;
}

.rf-search-input {
    width: 300px;
    font-weight: bold;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    border: 2px solid var(--color-accent) !important;
    color: var(--color-accent-darker) !important;
    background-image: url('../img/icons/search.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 10px;
    height: fit-content;
}

.rf-search-input:focus{
    border: 2px solid var(--color-accent-darker) !important;
    outline: none;
}

.rf-search-input::placeholder{
    opacity: 50% !important;
    font-weight: bold;
}

textarea{
    border-color: var(--color-accent-darker) !important;
    color: var(--color-accent-darker) !important;
    font-weight: bold !important;
}

input:disabled, textarea:disabled {
    background: white !important;
    border-color: var(--color-accent-darker-20) !important;
}
select:disabled {
    background: white !important;
    border-color: var(--color-accent-20) !important;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* DATEPICKER */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

.ui-widget {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
    font-size: 16px !important;
}

.ui-widget-header {
    background: var(--color-accent) !important;
    color: white !important;
    font-weight: bold;
}

.ui-icon {
    color: white !important;
}

.ui-state-default.ui-state-highlight {
    border-color: var(--color-accent) !important;
    background-color: var(--color-accent) !important;
    color: white !important;
    font-weight: bold;
}

.ui-state-default.ui-state-highlight:before {
    opacity: 50%;
}

.ui-state-default.ui-state-active{
    border-color: var(--color-accent-darker) !important;
    background-color: var(--color-accent-darker) !important;
    color: white !important;
    font-weight: bold;
}

.select-dropdown {
    position: relative !important;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ADMIN HOME */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

.admin-links-container{
    margin-top: -40px;
    margin-right: -40px;
}

.admin-link-card{
    background-color: var(--color-accent-20);
    margin-top: 40px;
    margin-right: 40px;
    width: 500px;
    padding: 40px 40px 80px 40px;
    display: inline-flex;
    color: var(--color-accent);
}

.admin-link-card:hover{
    background-color: var(--color-accent-darker-20);
}

.admin-link-card span{
    font-size: 36px;
    font-weight: initial;
    text-decoration: none !important;
}

.admin-link-card img{
    padding-top: 10px;
    margin-right: 40px;
    width: 40px;
    align-self: start;
}

.fa-action-btn {
    font-size: 18px;
    vertical-align: text-top;
    padding-left: 5px;
    color: var(--color-accent);
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* TRUMBOWYG */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

.trumbowyg-editor, .no-global-css {
    align-content: initial;
    align-items: initial;
    align-self: initial;
    alignment-baseline: initial;
    background: initial;
    font-family: initial;
    font-weight: initial;
    color: initial;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* FILE UPLOAD */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

.fileUploadDropArea.highlight {
    border-color: var(--color-accent);
}

.border-file-upload-area{
    border : dashed 5px;
}

.border-accent {
    border-color: var(--color-accent-20) !important;
}

.border-accent-darker {
    border-color: var(--color-accent) !important;
}

.fileUploadDropArea.highlight {
    border-color: var(--color-accent);
}

.drag-and-drop-area {
    border: dashed 5px var(--color-accent-20);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.drag-and-drop-area.highlight {
    border-color: var(--color-accent);
}

.drag-and-drop-area p {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-accent);
    text-align: center;
}

.drag-and-drop-area p,
.drag-and-drop-area ul
{
    margin-bottom: 0;
}

.drag-and-drop-area ul
{
    margin-top: 20px;
}

.drag-and-drop-area button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
